%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


._icon-add:before {
	content: "\e900";
  }
  ._icon-arrow-bottom:before {
	content: "\e901";
  }
  ._icon-arrow-open:before {
	content: "\e902";
  }
  ._icon-arrow-top:before {
	content: "\e903";
  }
  ._icon-black-arrow:before {
	content: "\e904";
  }
  ._icon-burger:before {
	content: "\e905";
  }
  ._icon-burger2:before {
	content: "\e906";
  }
  ._icon-close:before {
	content: "\e907";
  }
  ._icon-cub:before {
	content: "\e908";
  }
  ._icon-email:before {
	content: "\e909";
  }
  ._icon-email2:before {
	content: "\e90a";
  }
  ._icon-euro:before {
	content: "\e90b";
  }
  ._icon-facebok:before {
	content: "\e90c";
  }
  ._icon-file:before {
	content: "\e90d";
  }
  ._icon-further:before {
	content: "\e90e";
  }
  ._icon-green-cub:before {
	content: "\e90f";
  }
  ._icon-hammer:before {
	content: "\e910";
  }
  ._icon-home:before {
	content: "\e911";
  }
  ._icon-lattice:before {
	content: "\e912";
  }
  ._icon-lightning:before {
	content: "\e913";
  }
  ._icon-name:before {
	content: "\e914";
  }
  ._icon-open:before {
	content: "\e915";
  }
  ._icon-pencil:before {
	content: "\e916";
  }
  ._icon-phone:before {
	content: "\e917";
  }
  ._icon-phone2:before {
	content: "\e918";
  }
  ._icon-rocket:before {
	content: "\e919";
  }
  ._icon-search:before {
	content: "\e91a";
  }
  ._icon-slider-next:before {
	content: "\e91b";
  }
  ._icon-slider-prev:before {
	content: "\e91c";
  }
  ._icon-star:before {
	content: "\e91d";
  }
  ._icon-time:before {
	content: "\e91e";
  }
  ._icon-twitter:before {
	content: "\e91f";
  }
  ._icon-whatsApp:before {
	content: "\e920";
  }